{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .sfondo{background-color: darkorange; margin-top: 5%}
        .titolo{font-family: Century, serif; text-align: center; color:white; font-size: 25px}
        .table {width: 100%; line-height: 50px}
        @media screen and (min-width: 801px) {
            table.example {
                font-size: 20px;
            }
        }

        @media screen and (max-width: 800px) {
            table.example {
                font-size: 15px;
            }
        }
        @media screen and (min-width: 801px) {
            tr.ciao {
                font-size: 15px;
            }
        }

        @media screen and (max-width: 800px) {
            tr.ciao {
                font-size: 10px;
            }
        }

        @media screen and (min-width: 801px) {
            a.but {
                font-size: 25px;
            }
        }


        .modifica{background-color: white; border-style: none}

    </style>
    <div class="d-grid gap-2 d-flex justify-content-end">
        <button class="btn btn-primary me-2" type="button">Button</button>
        <button class="btn btn-primary" type="button">Button</button>
    </div>
    <div class="col-6">
        <div class="input-group" style="margin-top: 60px; margin-left: 300px">
            <input type="search" class="form rounded" aria-label="Cerca" style="border-width: 5px; border-color: darkorange;margin-right: 20px; padding: 10px"/>
            <button type="button" class="btn titolo" style="background-color: darkorange">Cerca</button>
        </div>
    </div>

    <table class="table align-middle sfondo titolo example">
        <thead>
        <th>Id</th>
        <th>Nome C.</th>
        <th>Cognome C.</th>
        <th>Data ordine</th>
        <th>Data consegna</th>
        <th>Note</th>
        <th>Username</th>
        <th>Totale</th>
        </thead>
        {% for ordine in dati %}
            <tr class="ciao" style="background-color: white;color: darkblue">
                <td>{{ ordine.id }}</td>
                <td>{{ ordine.cliente.nome }}</td>
                <td>{{ ordine.cliente.cognome }}</td>
                <td>{{ ordine.dataOrdine|date("d-m-Y") }}</td>
                <td>{{ ordine.dataConsegna|date("d-m-Y") }}</td>
                <td>{{ ordine.note }}</td>
                <td>{{ ordine.user.username }}</td>
                <td>{{ ordine.totale }}</td>
                <td><a href="{{ path('modifica_ordine', { slug: ordine.id }) }}" class="modifica but"><i class="bi bi-pencil-square" style="color: darkorange"></i></a></td>
                <td><a href="{{ path('elimina_ordine', { slug: ordine.id }) }}" class="modifica but" ><i class="bi bi-trash" style="color: darkorange"></i></a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
