{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset("js/listaOrdini.js") }}"></script>
{% endblock %}

{% block body %}
    <style>
        .sfondo{
            background-color: darkorange; margin-top: 5%
        }
        .titolo{
            font-family: Century, serif; text-align: center; color:white; font-size: 25px
        }
        .table {
            width: 100%; line-height: 50px
        }
        .bottone {
            font-family: Century, serif; text-align: center; font-size: 25px ;color: white; background-color: darkorange; padding: 10px 30px
        }
        .cerca {
            font-family: Century, serif; font-size: 25px ; color: darkorange; border-width: 5px; border-color: darkorange; padding: 10px 30px
        }

        @media screen and (min-width: 801px) {
            thead.response {
                font-size: 20px;
            }
        }

        @media screen and (max-width: 800px) {
            thead.response {
                font-size: 15px;
            }
        }
        @media screen and (min-width: 801px) {
            tr.righe {
                font-size: 15px;
            }
        }

        @media screen and (max-width: 800px) {
            tr.righe {
                font-size: 10px;
            }
        }

        @media screen and (min-width: 801px) {
            a.but {
                font-size: 25px;
            }
        }

        @media screen and (min-width: 801px) {
            input.res {
                font-size: 25px;
            }
        }

        @media screen and (max-width: 800px) {
            input.res {
                font-size: 10px;
            }
        }

        @media screen and (min-width: 801px) {
            a.bot {
                font-size: 25px;
            }
        }

        @media screen and (max-width: 800px) {
            a.bot {
                font-size: 10px;
            }
        }

        .l:hover {color: #00aa88; border-width: 7px; border-color: #00aa88; background-color: white}
        .modifica{padding: 8px ; background-color: white; border-style: solid; border-color: darkorange}

    </style>
    <div class="d-grid d-flex justify-content-center m-5" style="gap: 300px">
        <a href="http://127.0.0.1:8000/ordini/nuovo" class="btn bottone link l bot" type="button">Aggiungi nuovo</a>
        <input type="text" id="search-box" placeholder="Cerca" class="frmSearch cerca l res"/>
    </div>

    <table class="table align-middle ">
        <thead class="sfondo titolo response">
        <th>Id</th>
        <th>Nome C.</th>
        <th>Cognome C.</th>
        <th>Data ordine</th>
        <th>Data consegna</th>
        <th>Note</th>
        <th>Username</th>
        <th>Totale</th>
        <th></th>
        <th></th>
        </thead>
        <tbody id="listaOrdini">
        {% for ordine in dati %}
            <tr class="righe" style="background-color: white;color: darkblue; text-align: center">
                <td>{{ ordine.id }}</td>
                <td>{{ ordine.cliente.nome }}</td>
                <td>{{ ordine.cliente.cognome }}</td>
                <td>{{ ordine.dataOrdine|date("d-m-Y") }}</td>
                <td>{{ ordine.dataConsegna|date("d-m-Y") }}</td>
                <td>{{ ordine.note }}</td>
                <td>{{ ordine.user.username }}</td>
                <td>{{ ordine.totale }}</td>
                <td><a href="{{ path('modifica_ordine', { slug: ordine.id }) }}" class="modifica but l"><i class="bi bi-pencil-square" style="color: darkorange"></i></a></td>
                <td><a href="{{ path('elimina_ordine', { slug: ordine.id }) }}" class="modifica but l" ><i class="bi bi-trash" style="color: darkorange"></i></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
