{% extends 'base.html.twig' %}

{% block body %}
    {% for ordine in dati %}
        <div class="row">
            <div class="col">{{ ordine.id }}</div>
            <div class="col">{{ ordine.cliente.nome }}</div>
            <div class="col">{{ ordine.cliente.cognome }}</div>
            <div class="col">{{ ordine.dataOrdine|date("d-m-Y") }}</div>
            <div class="col">{{ ordine.dataConsegna|date("d-m-Y") }}</div>
            <div class="col">{{ ordine.note }}</div>
            <div class="col">{{ ordine.user.username }}</div>
            <div class="col">{{ ordine.totale }}</div>
        </div>
    {% endfor %}
{% endblock %}