{% extends "base.html.twig" %}

{% block body %}
<style>
    .table{
       text-align: center; font-family: Century, serif; font-size: 25px; color: darkorange; border: solid; border-width: 5px; border-color: darkorange;
    }

    label {
        font-family: Century, serif; font-size: 25px; color: darkorange; margin: 15px;
    }

    input {
        border-width: 5px; border-color: darkorange; font-size: 25px;
    }

    button{
        font-family: Century, serif; text-align: center; font-size: 25px ;color: white; background-color: darkorange; padding: 10px 30px;
        margin: 50px; margin-left: 150px;
    }

    button:hover{
        color: #00aa88; border-width: 7px; border-color: #00aa88; background-color: white
    }

</style>

{{ form_start(form) }}

<div class="form" id="nuovo_ordine">

    <div class="input-group gap-3 justify-content-center" style="margin-bottom: 20px; margin-top: 20px">
        {{ form_row(form.cliente) }}
    </div>

    <div class="input-group gap-3 justify-content-center" style="margin-bottom: 20px">
        {{ form_row(form.note)}}
    </div>

    <div class="input-group gap-3 justify-content-center">
        {{ form_row(form.nuovo_capo)}}
        {{ form_row(form.numero_capi)}}
    </div>
    <div class="d-grid d-flex justify-content-center">
    <button id="aggiungiCapo">Aggiungi Capo</button>
    </div>

    <div id="nuovo_ordine_ordiniRows" class="table" style="margin-bottom: 65px">
        {{ form_row(form.ordiniRows) }}
    </div>

    <div class="input-group gap-3 justify-content-center">
        {{ form_row(form.totale)}}
    </div>

    <div class="d-flex justify-content-center" style="margin-bottom: 20px">

        {{ form(form) }}

    </div>
 </div>

    {{ form_end(form) }}


    {% endblock%}

    {% block javascripts %}


{{ parent() }}
<script src="{{ asset("js/aggiungiRigaOrdine.js") }}"></script>
<script src="{{ asset("js/caricaUtentiAjax.js") }}"></script>
{% endblock %}
