{% extends "base.html.twig" %}

{% block body %}
<style>

    table {
        border: solid;
        border-width: 5px;
        border-color: darkorange;
    }
    th{
        text-align: center;
        font-family: Century, serif;
        font-size: 25px;
        color: darkorange;
        padding: 10px 100px;
    }
    td{
        padding: 10px 5px;
    }

    label {
        font-family: Century, serif;
        font-size: 25px;
        color: darkorange;
        margin: 15px;
    }

    input {
        border-width: 5px;
        border-color: darkorange;
        font-size: 25px;
    }

    button{
        font-family: Century, serif;
        text-align: center;
        font-size: 25px ;
        color: white;
        background-color: darkorange;
        padding: 10px 30px;
        margin: 20px;

    }

    .btn {
        font-family: Century, serif;
        text-align: center;
        font-size: 25px ;
        color: white;
        background-color: darkorange;
        padding: 10px 30px;
        margin: 50px;
        margin-left: 150px;
    }
    .btn:hover{
        color: #00aa88;
        border-width: 7px;
        border-color: #00aa88;
        background-color: white
    }

    button:hover{
        color: #00aa88;
        border-width: 7px;
        border-color: #00aa88;
        background-color: white
    }

</style>

{{ form_start(form) }}

<div class="form" id="nuovo_ordine">

    <div class="input-group gap-3 justify-content-center"
         style="margin-bottom: 20px; margin-top: 20px">
        {{ form_row(form.cliente) }}
    </div>

    {% if ordine is defined %}
        {{ form_row(form.cliente_id, {'attr': {'value': ordine.cliente.id }}) }}
    {% endif %}

    <div class="input-group gap-3 justify-content-center"
         style="margin-bottom: 20px">
        {{ form_row(form.note)}}
    </div>

    <div class="input-group gap-3 justify-content-center">
        {{ form_row(form.nuovo_capo)}}
        {{ form_row(form.numero_capi)}}
    </div>
    <div class="d-grid d-flex justify-content-center">
    <div class="btn" id="aggiungiCapo">Aggiungi Capo</div>
    </div>

    <div class="d-grid d-flex justify-content-center"
         style="margin-bottom: 65px">
        <table>
            {{ form_row(form.ordiniRows) }}
        </table>
    </div>

  {#   {% if ordiniRows is defined %}
    <table>
        <thead>
        <tr>
            <th>Id Capo</th>
            <th>Descrizione</th>
            <th>Importo</th>
            <th>Numero capi</th>
        </tr>
        </thead>
        <tbody>

            {% set i = 0 %}
            {% for ordineRow in ordiniRows %}
            <tr>
                <div numeroRiga='{{ i }}'>

                    <td ><input readonly='readonly'  id='form_ordini_row_{{ i }}_idCapo' name='form_ordini_row[{{ i }}][idCapo]' value='{{  ordineRow.capo.id }}' style='text-align: center'></td>


                    <td ><input readonly='readonly' id='form_ordini_row_{{ i }}_descrizioneCapo' name='form_ordini_row[{{ i }}][descrizioneCapo]' value='{{ ordineRow.capo.tipo }}' style='text-align: center'></td>


                    <td ><input readonly='readonly' id='form_ordini_row_{{ i }}_prezzoCapo' name='form_ordini_row[{{ i }}][prezzoCapo]' value='{{ ordineRow.capo.prezzo }}' style='text-align: center'></td>


                    <td ><input id='form_ordini_row_{{ i }}_numeroCapi' name='form_ordini_row[{{ i }}][numeroCapi]' value='{{ ordineRow.numeroCapi }}' style='text-align: center'></td>

                <td class='d-grid d-flex justify-content-center' onclick='eliminaRiga($(this))'> <button> Elimina </button> </td>"

                </div>

            </tr>
            {% endfor %}

        </tbody>
    </table>
    {% endif %}
    </div>
#}
    <div class="input-group gap-3 justify-content-center">
        {{ form_row(form.totale)}}
    </div>

    <div class="d-flex justify-content-center"
         style="margin-left: 100px">

        {#  TODO: esplicitare pulsante submit #}
        {{ form_row(form.salva)}}

    </div>
 </div>

    {{ form_end(form) }}


    {% endblock%}

    {% block javascripts %}


{{ parent() }}
<script src="{{ asset("js/aggiungiRigaOrdine.js") }}"></script>
<script src="{{ asset("js/caricaUtentiAjax.js") }}"></script>
{% endblock %}
