{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
    <style>
        .sfondo{background-color: darkorange; margin-top: 5%; width: 5%}
        .titolo{font-family: Century, serif; text-align: center; color:white; font-size: 25px}
        .table {width: 100%; line-height: 50px}
        .bottone {font-family: Century, serif; text-align: center; font-size: 25px ;color: white; background-color: darkorange; padding-top: 10px;padding-bottom: 10px; padding-right: 30px; padding-left: 30px}
        @media screen and (min-width: 801px) {
            table.response {
                font-size: 25px;
            }
        }

        @media screen and (max-width: 800px) {
            table.response {
                font-size: 20px;
            }
        }
        @media screen and (min-width: 801px) {
            tr.righe {
                font-size: 20px;
            }
        }

        @media screen and (max-width: 800px) {
            tr.righe {
                font-size: 15px;
            }
        }

        @media screen and (min-width: 801px) {
            a.but {
                font-size: 25px;
            }
        }

        .l:hover {color: #00aa88; border-width: 5px; border-color: #00aa88; background-color: white}
        .modifica{padding: 8px ; background-color: white; border-style: solid; border-color: darkorange}

    </style>
    <div class="d-grid d-flex justify-content-center m-5">
        <a href="{{ path('nuovo_utente') }}" class="btn bottone l" type="button">Aggiungi nuovo</a>
    </div>

    <table class="table align-middle sfondo titolo response">
        <thead>
        <th>Username</th>
        <th>Nome</th>
        <th>Cognome</th>
        <th>E-mail</th>
        </thead>
        {% for utente in dati %}
            <tr class="righe" style="background-color: white;color: darkblue">
                <td>{{ utente.username }}</td>
                <td>{{ utente.nome }}</td>
                <td>{{ utente.cognome }}</td>
                <td>{{ utente.email }}</td>
                <td><a href="{{ path('modifica_utente', { slug: utente.id }) }}" class="modifica but l">
                        <i class="bi bi-pencil-square" style="color: darkorange"></i></a></td>
                <td><a href="{{ path('elimina_utente', { slug: utente.id }) }}" class="modifica but l"
                       onclick="return confirm('Vuoi davvero cancellare questo elemento?')" >
                        <i class="bi bi-trash" style="color: darkorange"></i></a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
