{% extends 'base.html.twig' %}


{% block body %}
    {{ parent() }}
    <style>
        .margini{
            margin-top: 100px; margin-left: 100px;
        }
        .interno{
            font-family: Century, serif; font-size: 30px; color: white; background-color: #00aa88;
        }
        .l:hover {color: darkorange; border-width: 5px; border-color: darkorange; background-color: white}

        .inp {
           border: solid; border-width: 5px; border-color: #00aa88; font-size: 25px;
        }
        form {
            margin-top: 150px; margin-bottom: 100px
        }
        label {
            font-family: Century, serif; font-size: 25px; color: #00aa88; margin: 15px;
        }
        select{
            border-width: 5px; border-color: #00aa88; font-size: 25px; color: #00aa88;
        }
        .i:hover{color: darkorange; border-width: 5px; border-color: darkorange; background-color: white}

        select:focus {
            color: darkorange; border-width: 5px; border-color: darkorange; background-color: white
        }


    </style>
        {{ form_start(form) }}

            <div class="input-group">

                <div class="input-group justify-content-center" style="margin-bottom: 20px; gap: 50px">
                {{ form_label(form.logo) }}
                    <div class="row inp i">
                    {{ form(form.logo) }}
                    </div>
                </div>

                <div class="input-group justify-content-center" style="margin-bottom: 20px; gap: 50px">
                    {{ form_label(form.metodo_calcolo_consegna) }}
                    <div class="row">
                        {{ form(form.metodo_calcolo_consegna) }}
                    </div>
                </div>
            </div>

    {{ form(form) }}
            {{ form_end(form) }}

    <div class="d-grid d-flex justify-content-center margini" style="gap: 300px">
            <a class="btn interno l" href="{{ path('lista_utenti') }}" role="button" style="padding: 30px 100px">Utenti</a>
            <a class="btn interno l" href="{{ path('anagrafica_aziendale') }}" role="button" style="padding: 30px">Anagrafica Aziendale</a>
        </div>
    </div>
{% endblock %}